/* You can add global styles to this file, and also import other style files */
.logo {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header {
    margin: 0.5rem;     
}

.background-image {
    background: url(https://source.unsplash.com/wn-KYaHwcis/4096×2726);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;    
}

.kangaroo-img {
    border-radius: 50%;
    width: 10%;    
}